a {
    text-decoration: none;
}

ul {
	list-style-type: none;
}

body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, sans-serif;
}

header	{	
	padding-left: 1%;
	height: 5em;
	border: 1px solid red;
}

header h1	{
	font-size: 150%;
	font-weight: bold;
    margin-bottom: 0.1em;
}

header h2 {
	margin: 0.1em;
}

#tabs ul {
	text-align:     center;
    border:         1px solid pink;
	display:	flex;
	flex-wrap:	wrap; 
    padding:    0;
    margin:     0;
}

li.tab-label {
	flex-grow:      1;
	flex-shrink:	1;
	font-weight:    bold;
	font-size:	1.5em;
    height: 1.3sem;
	border:	transparent;
	background-color: #7f99b1;
    margin: 0.2em;
}

#tabs li a {
    display: block;
}

#tabs li:hover {
    background-color: #c2c7c7;
}

.tab {
	padding: 1em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.component {
	padding: 1em;
	margin: 0.5em;
	border: 2px solid black;
	min-width: 75%;
	max-width: 75%;
}


